<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"></meta>
    
    <link rel="shortcut icon" th:href="@{static/img/favicon.ico}" type="image/x-icon"/>
    
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
	<script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <title>Heevo</title>
</head>
<body>
	<!-- Header -->
    <header>
        <nav class="prontuario">
            <div class="container-nav2">
                <div class="brand">
                    <img th:src="@{/img/logo.png}" th:href="@{/}" alt=""/>
                </div>
                 <div class="nav-links dropdown">
					  <a  type="button"
						id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Administrador</a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					    <button class="dropdown-item" th:href="@{/especialidades}" type="button">Especialidades</button>
					    <div class="dropdown-divider"></div>
					    <button class="dropdown-item" th:href="@{/u/novo/cadastro/usuario}" type="button">Cadastro de Usuários</button>
					    <button class="dropdown-item" th:href="@{/u/lista}" type="button">Lista de Usuários</button>
					  </div>
				</div>
                </div>
                <div sec:authorize="isAuthenticated()">
	                <div id="dp" class="dados-profissional">
	                    <div class="container-dados">
	                            <h2 sec:authentication="name">Nome</h2>
	                            <h3>CRM/CRO</h3>
	                        <h3 class="date"></h3>
	                    </div>
	                </div>
<!-- 	                <button class="dados-btn">Ver dados</button> -->
	                 <form th:action="@{/logout}" method="post">
	                	<button type="submit">Logout</button>
	                </form>
                </div>
            </div>
        </nav>
    </header>
	<div class="container">
		
	</div>
	<script>
		$('.dropdown-toggle').dropdown()
	</script>
</body>
</html>