<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"></meta>
    
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <title></title>
</head>
<body>
	<!-- Header -->
    <header>
        <nav class="prontuario">
            <div class="container-nav2">
                <div class="brand">
                    <img th:src="@{/img/logo.png}" alt=""/>
                </div>
                <form th:action="@{/logout}" method="post">
                	<button type="submit">Logout</button>
                </form>
                <div id="dp" class="dados-profissional">
                    <div class="container-dados">
                            <h2>Nome</h2>
                            <h3>CRM/CRO</h3>
                        <h3 class="date"></h3>
                    </div>
                </div>
                <button class="dados-btn">Ver dados</button>
            </div>
        </nav>
    </header>
	<div class="container">
		<table class="table" style="margin-top:10%;">
			<thead>
				<th>Nome</th>
				<th>CPF</th>
				<th></th>
			</thead>
			<tbody>
				<tr th:each="pp:${listaPP}">
					<td th:text="${pp.nome}"></td>
					<td th:text="${pp.cpf}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>