
body {
    font-family: 'proxima-nova', sans-serif;
    background: linear-gradient(360deg,var(--color-blue),#a0c5df);
}

.container-main {
    margin-top:5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#logo-main img {
    width: 25rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-login { 
    width: 25vw;
    min-width: 280px;
    padding: 1.2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    border-radius: 0.6rem;
    border: 0px solid white;
}

.input-login:focus {
    outline:0;
    border-left: 20px solid var(--color-blue);
}

.forgot {
    font-size: 2rem;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: underline;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.forgot:hover {
    color: #a0a0a0;
}

.btn-login {
    width: 80%;
    margin: 0 10%;
    margin-bottom: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 15px;
    border: 0px white solid;
    background: #226182;
    color: white;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.btn-login:hover {
    background-color: hsl(201, 40%, 50%);
}

footer {
    width:100vw;
    height: 60px;
    background:#0a4779;
}

@media (max-width:525px) {
    .download-links {
        width: 80vw;
    }
}

